.task-scratch-section {
  padding: 0 20px;
}

.section-title {
  text-align: center;
}

.track-wrapper {
  width: 100%;
  background-color: #c6c2c2;
  display: block;
  height: 20px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #c6c2c2;
}
.track-wrapper::before {
  content: '0 m';
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  font-size: 12px
}
.track-wrapper::after {
  content: '1000 m';
  display: block;
  position: absolute;
  right: 0;
  bottom: -100%;
  font-size: 12px
}

.track::after {
  content: '';
  background-image: url('../../assets/images/track-marker.png');
  display: block;
  width: 20px;
  height: 100%;
  top: -110%;
  position: absolute;
  right: -10px;
  background-size: contain;
}

.task-icon {
  margin: 30px auto 10px;
  display: block;
  max-width: 65px;
}

.task-message {
  display: block;
  background-color: #00800038;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid green;
  color: green;
}

.track {
  display: block;
  position: absolute;
  width: 50%;
  background-color: #ffffff;
  height: 20px;
  border-radius: 8px;
}

.daily-task-wrapper p {
  font-weight: bold;
  margin-bottom: 40px;
}