.scratch-wrapper {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
}

.scratch-overlay {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: yellow;
  border-radius: 8px;
}

.scratch-icon-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.active-scratch-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  border: 2px solid #64de38;
  bottom: 0;
  border-radius: 8px;
  animation: pulse 2s infinite;
}

.more-actions {
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    border-color: #64de38;
  }
  50% {
    border-color: #518c3c;
  }
  100% {
    border-color: #64de38;
  }
}